dayy4
cartopyu
=

In [ ]:
shape file is used to vis cordinates
ccrs=cor ref sys
ghana=lat=11.2(.5)  navorongo border(11.2)  n
lat south=4.4(5)
lon=-3.5w     1.5s 
west af=


costline with ocean

In [ ]:

kumasi(knust)(6.67)
wa(10)

In [9]:
import pandas as pd

In [3]:
padas is use to work data series

SyntaxError: invalid syntax (1688220606.py, line 1)

In [ ]:
once treadted as astrings are called keys
last 5 bottom ( tale)

head(= for first vlaue)

df.shape = number of r,c
size= 

brief statistic( describe)

.sum sum all th row

In [ ]:
df(culunm) select it for you


iloc is used to select an element(r,c)
iat select only the element

In [ ]:
drop used to elimite a column


times is a plotting with indexing as date

In [10]:
df1 =pd.dataframe()

AttributeError: module 'pandas' has no attribute 'dataframe'

In [ ]:
df1['month']= np.arange(1,13)
df1['day']= np.arange(1,13)
df1['year']= np.arange(2012,2024,1)
df1['rain']= np.arange(40,52,)

In [ ]:
calling one colunm

df1=df['tg','ty','jk'] as type('str')/(float)

pd.to_dat

In [ ]:
rename column
df1.remane(columns={t=s}),inplace=true

select= fine.the heading

filename.index=gives u the indexing

In [ ]:
axis= row
mean=sum()=mon climatology